# Project Context

{{#project}}
## Project Information
- Type: {{projectType}}
- Language: {{language}}{{#javaVersion}} ({{javaVersion}}){{/javaVersion}}
- Framework: {{framework}}
- Build Tool: {{buildTool}}
{{/project}}

{{#architecture}}
## Architecture
- Pattern: {{architecturePattern}}
- Module Structure: {{moduleStructure}}
{{#apiStyle}}- API Style: {{.}} {{/apiStyle}}
{{#dtoStrategy}}- DTO Strategy: {{dtoStrategy}}{{/dtoStrategy}}
{{/architecture}}

{{#dataLayer}}
## Data Layer
- Database: {{#database}}{{.}} {{/database}}
- ORM: {{orm}}
{{#complexQueryStrategy}}- Complex Query: {{complexQueryStrategy}}{{/complexQueryStrategy}}
{{#useQueryDsl}}
- QueryDSL dependencies required in build.gradle
{{/useQueryDsl}}
{{#repositoryStrategy}}- Repository: {{repositoryStrategy}}{{/repositoryStrategy}}
{{#transactionStrategy}}- Transaction: {{transactionStrategy}}{{/transactionStrategy}}
{{/dataLayer}}

{{#codeStyle}}
## Code Conventions
{{#namingConvention}}
- Classes: {{className}}
- Methods: {{methodName}}
- Variables: {{variableName}}
{{/namingConvention}}
{{#packageStructure}}- Package: {{packageStructure}}{{/packageStructure}}
{{#nullHandling}}- Null Handling: {{nullHandling}}{{/nullHandling}}
{{/codeStyle}}

{{#testing}}
## Testing
{{#testFramework}}- Framework: {{.}}
{{/testFramework}}
{{#mockFramework}}- Mock: {{mockFramework}}{{/mockFramework}}
- Naming: {{testNaming}}
{{#testTypes}}{{#-first}}- Types: {{/-first}}{{.}} {{/testTypes}}
{{/testing}}

{{#git}}
## Git
{{#branchStrategy}}- Branch: {{branchStrategy}}{{/branchStrategy}}
{{#commitConvention}}- Commit: {{commitConvention}}{{/commitConvention}}
{{#commitLanguage}}- Language: {{commitLanguage}}{{/commitLanguage}}
{{/git}}

{{#aiTool}}
## Guidelines
- Response Language: {{responseLanguage}}
{{#responseStyle}}- Style: {{responseStyle}}{{/responseStyle}}

{{#restrictions}}
{{#-first}}
### Restrictions:
{{/-first}}- {{.}}
{{/restrictions}}
{{/aiTool}}
