# Project Rules

{{#project}}
## Project
- {{framework}} ({{language}})
- Build: {{buildTool}}
{{/project}}

{{#architecture}}
## Architecture
- {{architecturePattern}}
{{#moduleStructure}}- {{moduleStructure}}{{/moduleStructure}}
{{#apiStyle}}- {{.}} {{/apiStyle}}
{{/architecture}}

{{#dataLayer}}
## Data
- {{#database}}{{.}} {{/database}}
- {{orm}}
{{#complexQueryStrategy}}- {{complexQueryStrategy}}{{/complexQueryStrategy}}
{{#useQueryDsl}}- QueryDSL 사용{{/useQueryDsl}}
{{/dataLayer}}

{{#codeStyle}}
## Style Guide
{{#namingConvention}}
- {{className}} for class names
- {{methodName}} for method names
- {{variableName}} for variable names
{{/namingConvention}}
{{#packageStructure}}- {{packageStructure}} package structure{{/packageStructure}}
{{/codeStyle}}

{{#testing}}
## Testing
{{#testFramework}}- {{.}}
{{/testFramework}}
- {{testNaming}} naming style
{{/testing}}

{{#git}}
## Git
{{#commitConvention}}- {{commitConvention}}{{/commitConvention}}
{{#commitLanguage}}- {{commitLanguage}}{{/commitLanguage}}
{{/git}}

{{#aiTool}}
## AI Settings
- Response: {{responseLanguage}}
{{#responseStyle}}- {{responseStyle}}{{/responseStyle}}

{{#restrictions}}
{{#-first}}
### Restrictions:
{{/-first}}- {{.}}
{{/restrictions}}
{{/aiTool}}
